label {
    float: left;
    display: block;
    margin: 5px;
    background: #4CAF50;
    width: 100px;
    height: 140px;
}

.seat-select {
    display: none;
}

.seat-select:checked+label {
    background: #F44336;
}

.occupied {
    background: #d9d9d9;
}
